<!DOCTYPE html> 
<html> 

<head>
<script type="text/javascript"> 
   var username = "{{username}}"
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body> 

<p>
<a href="/logout">Logout</a>
<br>
Welcome {{ username|safe }}
</p>

<script src="//cdn.webrtc-experiment.com/socket.io.js"> </script>
<script src="//cdn.webrtc-experiment.com/RTCPeerConnection-v1.5.js"> </script>
<script src="//cdn.webrtc-experiment.com/video-conferencing/conference.js"> </script>

<button id="setup-new-room">Setup New Conference</button>
<table style="width: 100%;" id="rooms-list"></table>
<div id="videos-container"></div>
{% load staticfiles %}<script type="text/javascript" src="{% static 'conference.js' %}"></script>

{% load friendshiptags %}

</body> 
</html>