<!DOCTYPE html> 
<html> 

{% if myname != '' %}
<head>
{% load staticfiles %}

<script type="text/javascript" src="{% static 'jquerymin211.js' %}"> </script>

<!-- compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrapmin320.css' %}">
<link rel="stylesheet" href="{% static 'bootstraptheme320.css' %}">
<script type="text/javascript" src="{% static 'bootstrap320.js' %}"> </script>

<link rel="stylesheet" href="{% static 'sidebar.css' %}">
<link rel="stylesheet" href="{% static 'sesspage.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript"> 
  $( document ).ready(function() {    
          $.ajax({
            type: "GET",
            async: false,
            url: "/enter-session/",  
            data: {
                sessionname: '{{ sessname }}'
            },
            success: function(data) {
            },
            error: function(xhr, textStatus, errorThrown) {
            }
          });
          
          datamsg = {
                sessname:'{{sessname}}',
                uname:"{{myname}}"
          }
          socketchat.emit('enter', datamsg );
    });

  var sessionname  = '{{ sessname }}';
  var Pageusername = String("{{pagename}}");
  var token = '{{csrf_token}}';
  
  var videorecordRTC = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]; // record RTC ref
  var audiorecordRTC = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
  var recID = 1;

  var remoteStream = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]; //remote stream 0 is local stream
  var remoteStreamIDList = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];

  //var myLocalAddress = '';

</script>


<style>
    #chatarea{
      height:600px;
      width:100%;
    }
    .chattable{
      width:100%;
      border: 1px solid #ccc;
    }
    .chattname{
      width:20%;
      border: 1px solid #ccc;
    }
    .chatmsg{
      width:80%;
      border: 1px solid #ccc;
    }

    .sidebar-nav li {
      border-bottom: 2px solid #BBBBBB;
    }

</style>


</head>

<body> 

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="mainbar" style="margin:0 auto; display: table; font-family: 'Droid Serif', serif;">
                <li class="sidebar-brand">
                    <a href="/{{pageuname|safe}}">{{pagename}}</a>
                </li>
                {% if myuname == pageuname %}
                <li id="inviteuser">
                    <a href="#">Invite Users to Room</a>
                </li>

                <li id="setup-new-room">
                    <a href="#">Initiate Conference</a>
                </li>

                {% else %}
                  <li id="joinConfFill" style = 'display: none'>
                      <a href="#">-</a>
                  </li>
                {% endif %}

                <li id="setup-new-room-fill" style = 'display: none'>
                    <a href="#">-</a>
                </li>
                <li>
                    <a href="#">-</a>
                </li>
                <li id="confData">
                    <a href="#">View Conference Data</a>
                </li>
                <li>
                    <a href="/{{myuname}}">Leave Room → Home</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>

                {% if "{{myname}}" == "AnonymousUser" %}
                {% endif %}
                <font color="white" size="1">
                <div id="chatarea"  class='pre-scrollable' style="max-height: 200px;max-width:100%;padding-left: 10px;padding-top: 20px;"></font>
                </div>

                <div style="padding-left: 10px;">
                  <textarea cols="30" rows="2" id="chatinput"></textarea>
                  <input type="button" id="chatinputbutton" value="Send"></input>
                </div>
            </ul>

            <ul class="sidebar-nav" id="searchbar" style = 'display: none'>
                <li class="sidebar-brand">
                    <a href="#" id="backtomainbar"> ← Back</a>
                </li>
                <li id="inviteuser">
                    <a href="#">User Search</a>
                </li>
                    <input type="text" id="user-search" style = 'width: 80%; margin-left:20px'/>
                </li>
                <ul id="usersearchresults"></ul>
            </ul>
          
        </div>

        <div id="page-content-wrapper" style="width: 100%;">

            <nav class="navbar navbar-default">
              <div class="container-fluid">

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="#" id="menu-toggle">Toggle Menu</a></li>
                    <li id="liVidUpRate" style="display: none;"><a id="VidUpRate"></a></li>
                    <li id="liAudUpRate" style="display: none;"><a id="AudUpRate"></a></li>
                    <li id="liLogStats"><a><input id="LogStats" type='checkbox'>Log Metrics</input></a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="badaudio">Bad Audio</a></li>
                    <li><a href="#" id="badvideo">Bad Video</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>

            <div id="initsetup" style="display: block">
              <h2>Initial Setup</h2>
              <p>Leave Blank for Default. <br/>
                Click 'Initiate Conference' on the left sidebar to start conference.</p>
              <input id="vidpermiss" type='checkbox' checked> Stream my Video</input><br/>
              <input id="audpermiss" type='checkbox' checked> Stream my Audio</input><br/>
              Video Incoming Limit Datarate: <input id='videoband' type='number' style="width: 80px;" value="1500"></input> kbps <br/>
              Audio Incoming Limit Datarate: <input id='audioband' type='number' style="width: 80px;" value="50"></input> kbps <br/>
              <input id="p2pconnect" type='checkbox' checked> Connect Directly to Peers [p2p only]</input><br/><br/>
                {% if myuname == pageuname %}
                <button type="button" id="initSessionbtn">
                    Initiate Conference
                </button>

                {% else %}
                <button type="button" id="joinSessionbtn">
                    Join Conference
                </button>
                {% endif %}
            </div>
           
            <table style="width: 80%;" id="rooms-list"></table>
            <div id="videos-container">
            </div>
            
        </div>

        <section id="recordLinks"></section>

    </div>

<p>
<br>
<br>
</p>
<script type="text/javascript" src="{% static 'socketiomin0916.js' %}"> </script>
<script type="text/javascript" src="{% static 'webrtc-stun.js' %}"> </script>
<script type="text/javascript" src="{% static 'RecordRTC.js' %}"> </script>
<script type="text/javascript" src="{% static 'conference.js' %}"> </script>
<script type="text/javascript" src="{% static 'conferencesetup.js' %}"> </script>


<script type="text/javascript"> 

    $("#joinSessionbtn").click( function(){
      document.getElementById("joinSessionbtn").disabled = true;
      setTimeout(function(){
        $(".join").click();
      }, 5000);
    });

    $("#initSessionbtn").click( function(){
      $("#setup-new-room").click();
    });
//-------------------------------------------------------------------------------------------------------------
    $("#setup-new-room").click( function(){
          $('#setup-new-room').toggle([400]);
          $('#setup-new-room-fill').toggle([400]);
    });
//-------------------------------------------------------------------------------------------------------------
    $("#chatinput").keyup(function (e) {
      if (e.keyCode == 13) {
         $("#chatinputbutton").click();
      }
    });

    var CHAT_SERVER = 'http://veydh.com:8887/';
    var socketchat = io.connect(CHAT_SERVER);

    $("#chatinputbutton").click( function(){
          var datamsg = {
            sessname:"{{sessname}}",
            uname:"{{myname}}",
            msg: $('#chatinput').val(),
          };

          if(datamsg.msg!="")
          {
            socketchat.emit('roommsg', datamsg );
            $("#chatarea").animate({ scrollTop: $('#chatarea')[0].scrollHeight}, 1000);
            $("#chatinput").val("");
          }
    });

    socketchat.on("chatmsg", function(data){

        if(data.msg=="rec_all" || data.msg=="rec_all\n")
        {
            $(".RecButton").click();
        }

        $("#chatarea").append('<p style="color: #ffffff;">'+'<b>'+data.uname+':</b>'+'<br/>'+data.msg+'<br/></p>');
        $("#chatarea").animate({ scrollTop: $('#chatarea')[0].scrollHeight}, 1000);
    });

    socketchat.on("userstate", function(data){
        if(data.state=="entered")
          $("#chatarea").append('<p style="color: #ffff00;">'+'<b>'+data.uname+':</b>'+'<br/>'+"[Entered Room]"+'<br/></p>');
        else
          $("#chatarea").append('<p style="color: #ffff00;">'+'<b>'+data.uname+':</b>'+'<br/>'+"[Left Room]"+'<br/></p>');
        $("#chatarea").animate({ scrollTop: $('#chatarea')[0].scrollHeight}, 1000);
    });
//-------------------------------------------------------------------------------------------------------------

    $("#videos-container").on('click', '.RecButton' ,function(){
      var val = this.value;  
      var addr = $(this).parent().children('div#remoteaddr').html();
      if (addr == undefined) addr="My Stream";

      if(this.innerHTML == "Stop Recording")
      {
        document.getElementById("LogStats").checked = false;

        var today = new Date();
        var now = String(today.getHours()) + ':' + String(today.getMinutes()) + ':' + String(today.getSeconds());

        videorecordRTC[val].stopRecording(function(videoURL) {
          console.log(videoURL);
          $('#recordLinks').append('<a href="'+videoURL+'" target="_blank">'+'Recording of <b>Video</b> Stream '+addr+" - "+now+'</a><br/>');
          videorecordRTC[val].getDataURL(function(dataURL) { });
        });

        audiorecordRTC[val].stopRecording(function(videoURL) {
          console.log(videoURL);
          $('#recordLinks').append('<a href="'+videoURL+'" target="_blank">'+'Recording of <b>Audio</b> Stream '+addr+" - "+now+'</a><br/>');
          audiorecordRTC[val].getDataURL(function(dataURL) { });
        });

        $(this).css('background','#3c7fba');
        this.innerHTML = "Start Recording";
      }

      else
      {
        document.getElementById("LogStats").checked = true;

        var video_options = {
               type: 'video'
            };
        var audio_options = {
               type: 'audio',
            };

        videorecordRTC[val] = new RecordRTC(remoteStream[val], video_options);
        videorecordRTC[val].startRecording();
        audiorecordRTC[val] = new RecordRTC(remoteStream[val], audio_options);
        audiorecordRTC[val].startRecording();

        $(this).css('background','#5e0e0e');
        this.innerHTML = "Stop Recording";
      }
    });
//-------------------------------------------------------------------------------------------------------------

    $(".join").click( function(){
          $('#initsetup').hide();
          $(".join").toggle([400]);
          $('#joinConfFill').toggle([400]);
    });

    $("#backtomainbar").click( function(){
          $("#mainbar").toggle();
          $("#searchbar").toggle();
    });

    $("#inviteuser").click( function(){
          $("#mainbar").toggle();
          $("#searchbar").toggle();
    });

    $('#user-search').keyup(function(){
     $.ajax({
            type: "POST",
            url: "/user-search/", 
            //datatype: "json",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                search_user: $('#user-search').val(),
                sessionName: '{{ sessname }}'
            },
            success: function(data) {
                $('#usersearchresults').html(data);
            },
            error: function(xhr, textStatus, errorThrown) {
                alert("Error occurred");
            }
          });
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $("#joinConfButton").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $("#badaudio").click(function(e) {
        $.ajax({
          type: "POST",
          url: "/ratingHandler/",  
          data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              sessionname: '{{sessname}}',
              username: '{{myname}}',
              badtype: 'A'
          },
          success: function(data) {
          },
          error: function(xhr, textStatus, errorThrown) {
          }
      });
    });

    $("#badvideo").click(function(e) {
        $.ajax({
          type: "POST",
          url: "/ratingHandler/",  
          data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              sessionname: '{{sessname}}',
              username: '{{myname}}',
              badtype: 'V'
          },
          success: function(data) {
          },
          error: function(xhr, textStatus, errorThrown) {
          }
        });
    });

    $("#confData").click(function(e) {
        window.open("/conference-data?sessionname={{sessname}}");
    });

    window.onbeforeunload = function(){

      $.ajax({
          type: "GET",
          async: false,
          url: "/leave-session/",  
          data: {
              sessionname: '{{ sessname }}'
          },
          success: function(data) {
          },
          error: function(xhr, textStatus, errorThrown) {
          }
      });

      datamsg = {
                sessname:'{{sessname}}',
                uname:"{{myname}}"
      }
      socketchat.emit('leave', datamsg );
    };

</script>

</body> 
{% endif %}
</html>