<!DOCTYPE html> 
<html> 

<head>
{% load staticfiles %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'sidebar.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript"> 

  $( document ).ready(function() {    
         $.ajax({
            type: "GET",
            async: false,
            url: "/enter-session/",  
            data: {
                sessionname: '{{ sessname }}'
            },
            success: function(data) {
            },
            error: function(xhr, textStatus, errorThrown) {
            }
        });
    });

  var sessionname  = '{{ sessname }}';
  var Pageusername = String("{{pagename}}");

</script>
</head>

<body> 


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="mainbar">
                <li class="sidebar-brand">
                    <a href="/{{pageuname|safe}}">{{pagename}}</a>
                </li>
                <li id="inviteuser">
                    <a href="#">Invite Users to Room</a>
                </li>

                {% if myuname == pageuname %}
                  <li id="setup-new-room">
                      <a href="#">Initiate Conference</a>
                  </li>

                {% else %}
                  <li id="joinConfFill" style = 'display: none'>
                      <a href="#">-</a>
                  </li>

                {% endif %}

                <li id="setup-new-room-fill" style = 'display: none'>
                    <a href="#">-</a>
                </li>
                <li>
                    <a href="#">-</a>
                </li>
                <li>
                    <a href="/{{myuname}}">Leave Room -> Home</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>

            <ul class="sidebar-nav" id="searchbar" style = 'display: none'>
                <li class="sidebar-brand">
                    <a href="#" id="backtomainbar"><< Back</a>
                </li>
                <li id="inviteuser">
                    <a href="#">User Search</a>
                </li>
                    <input type="text" id="user-search" style = 'width: 80%; margin-left:20px'/>
                </li>
                <ul id="usersearchresults"></ul>
            </ul>

        </div>

        <div id="page-content-wrapper">
            <a class="btn btn-default" id="menu-toggle">Toggle Menu</a>

            <table style="width: 100%;" id="rooms-list"></table>
            <div id="videos-container"></div>
        </div>


    </div>

<p>
<br>
<br>
</p>

<script src="//cdn.webrtc-experiment.com/socket.io.js"> </script>
<script type="text/javascript" src="{% static 'webrtc-stun.js' %}"> </script>
<script type="text/javascript" src="{% static 'conference.js' %}"> </script>
<script type="text/javascript" src="{% static 'conferencesetup.js' %}"> </script>


<script type="text/javascript"> 

    $("#setup-new-room").click( function(){
          $('#setup-new-room').toggle([400]);
          $('#setup-new-room-fill').toggle([400]);
    });


    $("#u-search-btn").click( function(){

    });


    $(".join").click( function(){
          alert('test');
          $(".join").toggle([400]);
          $('#joinConfFill').toggle([400]);
    });

    $("#backtomainbar").click( function(){
          $("#mainbar").toggle();
          $("#searchbar").toggle();
    });

    $("#inviteuser").click( function(){
          //$("#friendsearcher").toggle([400]);
          $("#mainbar").toggle();
          $("#searchbar").toggle();
    });

    $('#user-search').keyup(function(){
     $.ajax({
            type: "POST",
            url: "/user-search/", 
            //datatype: "json",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                search_user: $('#user-search').val(),
                sessionName: '{{ sessname }}'
            },
            success: function(data) {
                $('#usersearchresults').html(data);
            },
            error: function(xhr, textStatus, errorThrown) {
                alert("Error occurred");
            }
          });
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


    window.onbeforeunload = function(){
      $.ajax({
          type: "GET",
          async: false,
          url: "/leave-session/",  
          data: {
              sessionname: '{{ sessname }}'
          },
          success: function(data) {
          },
          error: function(xhr, textStatus, errorThrown) {
          }
      });
    };

</script>

</body> 

</html>