<!DOCTYPE html> 
<html> 

<head>
{% load staticfiles %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'sidebar.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript"> 

   $(window).bind('beforeunload', function() {
        
    });

   $( document ).ready(function() {


          var interval = 8000;  // 5000 = 5 seconds
          function doAjax() {
              $.ajax({
                      type: 'POST',
                      url: '/getUIsessions/',
                      data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                      },
                      success: function (data) {
                               $('#sessioninvitelist').html(data);   
                      },
                      complete: function (data) {
                              // Schedule the next
                              setTimeout(doAjax, interval);
                      }
              });
          }
          doAjax();
          //setTimeout(doAjax, interval);
    });

   var username = String("{{myuname}}");

</script>


</head>

<body> 

<div class="debug"></div>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/{{pageuname|safe}}">{{pagename}}</a>
            </li>
            <li>
                <a href="/{{myuname|safe}}">My Home Page</a>
            </li>
            <li>
                <a href="#">Friends</a>
            </li>
            <li id="userinvitesess">
                <a href="#">Create User-Invited-Only Session</a>
            </li>
            <li id="opensess">
                <a href="#">Create Open Session</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>

        </ul>
    </div>

    {% if myuname == pageuname %}
      <div id="page-content-wrapper">
              <a class="btn btn-default" id="menu-toggle">Toggle Menu</a>
      </div>
      
      <div style="padding-left:20px">
          <h4> Active Sessions Invited to: </h4>
          <pre style="width:250px; height:20%;" class='pre-scrollable'>
            <ul id="sessioninvitelist"></ul>
          </pre>
      </div>


    {% else %}
      <div id="page-content-wrapper">
              <a class="btn btn-default" id="menu-toggle">Toggle Menu</a>
      </div>


    {% endif %}

</div>



<script type="text/javascript"> 

    $("#userinvitesess").click( function(){
          $.ajax({
              type: "POST",
              url: "/{{myuname}}/",
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  Psessprivate: "True"
              },
              success: function(data) {
                  window.location.href = data;
              },
              error: function(xhr, textStatus, errorThrown) {
                  alert("Error occurred");
              }
          });
    });


    $("#opensess").click( function(){
          $.ajax({
              type: "POST",
              url: "/{{myuname}}/",
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  Psessprivate: "False"
              },
              success: function(data) {
                  window.location.href = data;
              },
              error: function(xhr, textStatus, errorThrown) {
                  alert("Error occurred");
              }
          });
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


</script>
</body> 

</html>