.vidContainer {
    display: inline-block;
    position: relative;
}
.RecButton {
   border-top: 1px solid #96d1f8;
   background: #3c7fba;
   padding: 6.5px 13px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 17px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.RecButton:hover {
   border-top-color: #5e0e0e;
   background: #5e0e0e;
   color: #ffffff;
   }
.RecButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
}